<%= form_with(model: article, class:"article-form") do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group mb-3">
    <%= form.label :name, class: "form-label"%>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_field :description, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :image, class: "form-label" %>
    <%= form.file_field :image, class: "form-control", id:"inputGroupFile01" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :author, class: "form-label" %>
    <%= form.text_field :author, class: "form-control" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :is_hidden, class: "form-check-label" %>
    <%= form.check_box :is_hidden, class: "form-check-input" %>
  </div>

  <div class="input-group mb-3">
    <%= form.label :category_id, class: "form-label" %>
    <%= form.collection_select(:category_id, Category.all, :id, :name, class:"form-select")%>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-secondary" %>
  </div>
<% end %>